<head>
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function () {
      $('table.display').DataTable();
    } );
  </script>
</head>
<h1><center><a id="top">Report</a></center></h1>
<h2><center>Structural Variants Data<center></h2>
<hr></hr>

<a href="#cnv_gene_section">Genetic Load Analysis Results</a>

<hr></hr>
<br>
<br>
<body>
<h2>Samples included in the study</h2>
<div>
<table border="1" class="display table">
  <thead>
    <tr style="text-align: right;">
      <th>Sample_ID</th>
      <th>Congenital_Heart_Defects</th>
    </tr>
  </thead>
  <tbody align=center >
    {% for i in id_table %}
    <tr>
      <td><a href="{{ url_for('hello_link', id=i[0]) }}"> {{ i[0] }} </td>
      <td> {{ i[1] }} </td>
    </tr>    
    {% endfor %}
  </tbody>
</table>
</div>

<br>
<br>
<h2><center>SNPs Results</center></h2>
<br>
<h4>Genetic Load Analysis Results</h4>
<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in SNP_gene_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<br>
<br>
<h4>GO Term Functional Analysis Results</h4>

<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in SNP_go_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<br>
<br>
<h4>MP Term Functional Analysis Results</h4>

<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in SNP_mp_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<hr></hr>








<br>
<br>
<h2><center>CNVs Results</center></h2>
<br>
<h4><a id="cnv_gene_section">Genetic Load Analysis Results</a></h4>
<a href="#top">Back to top</a>
<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in Affy_gene_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<br>
<br>
<h4>GO Term Functional Analysis Results</h4>

<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in Affy_go_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<br>
<br>
<h4>MP Term Functional Analysis Results</h4>

<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in Affy_mp_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>





<br>
<br>
<h2><center>SNPs +  CNVs Results</center></h2>
<br>
<h4><a id="snp_cnv_section">Genetic Load SNPs + CNVs Results</a></h4>
<a href="#top">Back to top</a>
<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in SNP_Affy_gene_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<br>
<br>
<h4>GO Term Functional Analysis Results</h4>

<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in SNP_Affy_go_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>



<br>
<br>
<h4>MP Term Functional Analysis Results</h4>

<div>
<table border="1" class="display">
  <thead>
    <tr style="text-align: right;">
      <th>LOF_gene</th>
      <th>pval</th>
      <th>stat</th>
      <th>cases_count</th>
      <th>control_count</th>
      <th>ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for b in SNP_Affy_mp_cases_table %}
    <tr>
      <th> {{ b[0] }} </th>
      <th> {{ b[1] }} </th>
      <th> {{ b[2] }} </th>
      <th> {{ b[3] }} </th>
      <th> {{ b[4] }} </th>
      <th> {{ b[5] }} </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>

